@model BasketWebPanel.ViewModels.AboutUsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #kvFileinputModal {
        display: inline-table;
    }

    .file-drop-disabled {
        align-content: center;
        width: fit-content;
    }
</style>

@using (Ajax.BeginForm("AboutUs", "Content", new AjaxOptions { OnSuccess = "OnSuccessAboutUs", OnFailure = "OnFailedInsertion", LoadingElementId = "divLoader" }))
{
    @Html.AntiForgeryToken()
    <div class="right_col" role="main">
        <div class="row">
            <div class="x_panel ">
                <div class="alert alert-success" id="success-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong><span> </span>
                </div>
                <div class="alert alert-error" id="error-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Error! </strong> <span> </span>
                </div>
                <div class="x_title">
                    <h3 class="pull-left">About Us</h3>
                    <div class="clearfix"></div>
                </div>
                <p>

                </p>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-xs-12">
                            @Html.TextAreaFor(x => x.AboutUs, new { @class = "form-control", placeholder = "About Us", id = "AboutUs", @rows = 5 })
                            @Html.ValidationMessageFor(m => m.AboutUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@Scripts.Render("~/bundles/jquery")


<script>
    function OnSuccessAboutUs() {
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
</script>